body{
    margin:0;
    padding: 0;
    background-color: #E8ECEB ;
}
header{
    background-color: #2D3E4E;
    border-bottom: 8px solid #F27C00;
}
img{
    border-radius: 0% 0% 20% 20%;
    display: flex;
    margin: auto;
    height: 300px;
}

h1{
    font-size: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding-top: 20px;
    display: flex;
}
h2{
    font-size: 30x;
    color: #D9D9D9;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 5px;
    justify-content: center;
    display: flex;

}
h3{
    text-align: justify;
    font-size: 25px;
    padding-top: 30px;
    color: black;
    font-style: bold;
    font-family: 'Ink Free';
}
.bouton1{
    align-content: center;
    padding-left: 75px;
    display: flex;
}
.bouton2{
    align-content: center;
    padding-left: 125px;
    display: flex;
    
}

.case1{
    background-color: #96527A;
    color: white ;
    margin-top: 50px;
    text-align: justify;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}
.legende1{
    background-color: #CD6889;
    color: white;
    font-style: italic;
    font-size: 25px;
    align-items: center;
    margin-top: 50px;
    height: 120px;
    display: flex;
    justify-content: center;
    box-shadow: 12px 12px 2px 1px #F27C00;


    
}
.case2{
    background-color:  #B67332;
    color: black ;
    margin-top: 50px;
    text-align: justify;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}

.legende2 {
    background-color: #D6955B ; 
    color: black;
    font-style: italic;
    font-size: 25px;
    justify-content: center;
    margin-top: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: -13px 13px 1px 2px #F27C00;
}


.case3{
    background-color: #7A90A4;
    color: white ;
    margin-top: 50px;
    text-align: justify;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}

.legende3{
    background-color: #B8CBD0;
    color: white;
    font-style: italic;
    font-size: 30px;
    align-items: center;
    margin-top: 50px;
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 12px 12px 2px 1px #F27C00;
}


.case4{
    background-color: #B1A09B;
    color: black ;
    margin-top: 50px;
    text-align: justify;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}
.legende4{
    background-color: #E8D5CC;
    color: black;
    font-style: italic;
    font-size: 30px;
    align-items: center;
    margin-top: 50px;
    height: 80px;
    display: flex;
    justify-content: center;
    box-shadow: -13px 13px 1px 2px #F27C00;
}

footer{
    margin-top: 35px;
    background-color: #384454;
    border-top: 8px solid #F27C00;
}
h4{
    color: white;
    font-size: 75px;
    justify-content: center;
    margin-top: 25px;
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
}
.textmail{
    color: aqua;
    font-style: italic;
}
.textmessage{
    padding-top: 15px;
    color: aqua;
    font-style: italic;
}
.boutton_footer{
    padding-top: 15px;
}
.menu_flottant{
    text-align: center;
    font-size: 45px;
}
.info{
    color: white;
    background-color: rgb(185, 34, 34);
    font-size: 15px;
    font-style: oblique ,bold;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 5px;
    border-radius: 10px 0px 0px 10px;
    justify-content: center;
    
}
.dates{
    text-align: center;
    color: white;
    background-color: rgb(28, 28, 182);
    font-size: 15px;
    font-style: oblique, bold;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    margin-top: 10px;
}
.stage{
    padding-left: 10px;
}

@media (max-width: 1000px){
    .legende1{
        font-size: 18px;
    }
    .legende2{
        font-size: 18px;
    }
    .legende3{
        font-size: 18px;
    }
    .legende4{
        font-size: 18px;
    }
    .boutons{
        align-items: flex-end;
        padding-top: 15px;
        
    }
}
@media (max-width: 768px) {
    img{
        width: 100%;
    }
    h1{
        text-align: center;
        font-size: 20px;
    
    }
    h2{
        text-align: center;
        font-size: 15px;
    }
    h3{
        font-size: 18px
    }
    h4{
        font-size: 25px ;
    }
    
    .form1{
        display: none;
    }
    .card1{
        flex-direction: column-reverse;
    }
    .case1{
        margin-top: 0;
    }
    .legende1{
        box-shadow: none;
        margin-bottom: 0;
        flex-direction: column-reverse;
        height: 25px;
        font-size: 20px;
        font-style: bold;
    }
    
    .case2{
        margin-top: 0;
    }
    .legende2{
        box-shadow: none;
        margin-bottom: 0;
        height: 25px;
        font-size: 20px;
        font-style: bold;
    }
    .card3{
        flex-direction: column-reverse;
    }
    .case3{
        margin-top: 0;
    }
    .legende3{
        box-shadow: none;
        margin-bottom: 0;
        flex-direction: column-reverse;
        height: 25px;
        font-size: 20px;
        font-style: bold;
    }
    .case4{
        margin-top: 0;
    }
    .legende4{
        box-shadow: none;
        margin-bottom: 0;
        height: 25px;
        font-size: 20px;
        font-style: bold;
    }
    
    .dates{
        font-size: 10px;
        width: 100%;
        flex-direction: row;
        
    }
    .info{
        flex-direction: row;
        font-size: 10px;
    }
    .menu_flottant{
        padding-left: 15px;
        padding-bottom: 15px;
    } 
}
    